body {
  margin: 0;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pagePadder{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.boxSizer{
  width: 90vw;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* MAIN PAGE CSS */










/* Working on animations here */

.mainBox1{
  width: 100vw;
  height: 500px;
  background-color: white;
}

.mainContent1{
  width: 100px;
  height: 100px;
  background-color: white;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: 2;
  animation-direction: alternate-reverse;  
}

@keyframes example {
  0%   {background-color:white; left:200px; top:200px;}
  25%  {background-color:black; left:200px; top:0px;}
  50%  {background-color:white; left:200px; top:200px;}
  75%  {background-color:black; left:0px; top:200px;}
  100% {background-color:white; left:0px; top:0px;}
}

















.mainPageTitle{
  width: 300px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  animation-name: example;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}



/* @keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
} */

.mainSplash {
  width: 100vw;
  height: 280px;
  background-color: darkgrey;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.mainSplash2 {
  width: 100vw;
  height: 450px;
  background-color: darkgrey;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainSplash3 {
  width: 100vw;
  height: 450px;
  background-color: darkgrey;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainSplash4 {
  width: 100vw;
  height: 450px;
  background-color: darkgrey;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainSplash5 {
  width: 100vw;
  height: 450px;
  background-color: darkgrey;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}



/* SIDEBAR STYLING BELOW */

#page-wrap {
  text-align: center;
  overflow: scroll;
}

.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
  color: black;
  transition: color 0.2s;
}

.bm-item:hover {
  color: grey;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 10px;
  top: 10px;
}

.bm-burger-bars {
  background: #373a47;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  background: white;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
