body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 0px;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
 
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
    font-family: 'Source Sans Pro', sans-serif;

}

.hidden{
  display: none;
}

.pagePadder{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.boxSizer{
  width: 90vw;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* MAIN PAGE CSS */

.textShaper{
  width: 90vw;
  padding-top: 10px;
  text-align: center;
}

.textShaper h3{
  font-weight: 300;
}

/* First Container Idea */

.homeBox{
  width: 100vw;
  height: 100vh;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.homeContent1{
  width: 90vw;
  padding-top: 100px;
  justify-content: center;
  text-align: center;
}

.homeContent2{
  width: 90vw;
  padding-top: 10px;
  text-align: center;
}

.homeContent2 h1{
  font-weight: 500;
}

/* 
Second Container Idea */

.mainText{
  display:flex;
  justify-content: center;
  align-items: center;
  /* position: fixed;
  width: 150px;
  height: 300px;
  left: 50%;
  top: 50px; */
}

.testAnimationContainer{
  background-color: white;
  width: 100vw;
  height: 100vh;
}

.testBox1{
  width: 50px;
  height: 50px;
  position: relative;
  color: black;
  border-radius: 50%;
  animation-name: testSquare1;
  animation: testSquare1 5s infinite;
  animation-duration: 4s;
  animation-direction: alternate-reverse;  
  animation-delay: 1s;
  animation-iteration-count: infinite;
}

.testBox2{
  width: 50px;
  height: 50px;
  position: relative;
  color: white;
  border-radius: 50%;
  animation-name: testSquare2;
  animation: testSquare2 5s infinite;
  animation-duration: 4s;
  animation-direction: alternate-reverse;  
  animation-delay: 1s;
  animation-iteration-count: infinite;
}

.testBox3{
  width: 50px;
  height: 50px;
  position: relative;
  color: white;
  border-radius: 50%;
  animation-name: testSquare3;
  animation: testSquare3 5s infinite;
  animation-duration: 4s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}

.testBox4{
  width: 50px;
  height: 50px;
  position: relative;
  color: white;
  border-radius: 50%;
  animation-name: testSquare4;
  animation: testSquare4 5s infinite;
  animation-duration: 4s;
  animation-direction: alternate-reverse;  
  animation-delay: 1s;
  animation-iteration-count: infinite;
}


@keyframes testSquare1{
  0%   {background-color:white; left:0px; top:100px;}
  25%  {background-color:grey; left:0px; top:100px;}
  50%  {background-color:white; left:100px; top:100px;}
  75%  {background-color:grey; left:100px; top:0px;}
  100% {background-color:white; left:0px; top:0px;}
}

@keyframes testSquare2{
  0%   {background-color:white; left:200px; top:100px;}
  25%  {background-color:grey; left:200px; top:100px;}
  50%  {background-color:white; left:300px; top:300px;}
  75%  {background-color:grey; left:150px; top:300px;}
  100% {background-color:white; left:0px; top:100px;}
}

@keyframes testSquare3{
  0%   {background-color:white; left:0px; top:100px;}
  25%  {background-color:grey; left:100px; top:100px;}
  50%  {background-color:white; left:300px; top:300px;}
  75%  {background-color:grey; left:100px; top:150px;}
  100% {background-color:white; left:100px; top:0px;}
}

@keyframes testSquare4{
  0%   {background-color:white; left:0px; top:200px;}
  25%  {background-color:grey; left:200px; top:100px;}
  50%  {background-color:white; left:300px; top:300px;}
  75%  {background-color:grey; left:100px; top:200px;}
  100% {background-color:white; left:200px; top:0px;}
}






/* Working on animations here */

/* .mainBox1{
  width: 100vw;
  height: 500px;
  background-color: white;
}

.mainContent1{
  width: 100px;
  height: 100px;
  background-color: white;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: 2;
  animation-direction: alternate-reverse;  
}

@keyframes example {
  0%   {background-color:white; left:200px; top:200px;}
  25%  {background-color:black; left:200px; top:0px;}
  50%  {background-color:white; left:200px; top:200px;}
  75%  {background-color:black; left:0px; top:200px;}
  100% {background-color:white; left:0px; top:0px;}
}


/* @keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
} */ */
















.mainPageTitle{
  width: 300px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  animation-name: example;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}


.mainSplash {
  width: 100vw;
  height: 280px;
  background-color: darkgrey;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.mainSplash2 {
  width: 100vw;
  height: 450px;
  background-color: darkgrey;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainSplash3 {
  width: 100vw;
  height: 450px;
  background-color: darkgrey;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainSplash4 {
  width: 100vw;
  height: 450px;
  background-color: darkgrey;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainSplash5 {
  width: 100vw;
  height: 450px;
  background-color: darkgrey;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}



/* SIDEBAR STYLING BELOW */

#page-wrap {
  text-align: center;
  overflow: scroll;
}

.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
  color: black;
  transition: color 0.2s;
}

.bm-item:hover {
  color: grey;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 10px;
  top: 10px;
}

.bm-burger-bars {
  background: #373a47;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  background: white;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
